<html>
	<body ng-app='rankingModule' ng-controller='rakingCtrl' ng-init="getComments()">
		<ul ng-repeat="comment in comments | orderBy:'-score'">
			<div class="divMainContent">
				<span>{{comment.content}}</span>
				<div input-directive idParent="{{comment.idParent}}" idComment="{{comment.idComment}}" class="comment"></div>
				<span class="ranking">{{comment.score}} </span>
				<a ng-click='increaseScore(comment)' href="#">UP</a>    <a ng-click='decreaseScore(comment)' href="#">DOWN</a></li>
			</div>	
			
			<div class="divReplies" ng-if="comment.comments.length !== 0">
				<div ng-repeat="replyOnComment in comment.comments | orderBy:'-replyOnComent.score'">
					<span>{{replyOnComment.content}}</span>
					<a ng-click='increaseScore(comment)' href="#">UP</a>    <a ng-click='decreaseScore(comment)' href="#">DOWN</a></li>
					<div input-directive class="comment"></div>
				</div>
			</div>
		</ul>
		<div input-directive class="mainComment"></div>
	</body>
	
	<script src="angular.min.js"></script>	
	<script src="ranking.js"></script>
</html>